# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "1"
DISTRO ?= "bouin"
MACHINE ?= "raspberrypi3"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"

BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"


PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"

LICENSE_FLAGS_WHITELIST += "commercial commercial_ffmpeg commercial_x264 commercial_gstreamer1.0-plugins-ugly"

#keep track of the "builds" that gets created using the yocto-build-system
#INHERIT += "buildhistory"
#BUILDHISTORY_COMMIT = "1"
#You can then call buildhistory-diff

#IMAGE_FEATURES += "read-only-rootfs"

#Keep folder for devlopment purpose
#INHERIT += "rm_work"

DL_DIR ?= "${TOPDIR}/../downloads"
SSTATE_DIR ?= "${TOPDIR}/../sstate-cache"

#Rpi GPU memory HANDLE :
GPU_MEM_256 = "128"
GPU_MEM_512 = "196"
GPU_MEM_1024 = "396"

#Use WPE webkit :
##if rpi native:
PREFERRED_PROVIDER_virtual/wpebackend = "wpebackend-rdk"
PACKAGECONFIG_pn-wpebackend-rdk = "rpi libinput"
##elif fdo thanks to wayland
#PREFERRED_PROVIDER_virtual/wpebackend = "wpebackend-fdo"
#MACHINE_FEATURES_append = " vc4graphics "
##else mesa thanks to mesa
#PREFERRED_PROVIDER_virtual/wpebackend = "wpebackend-mesa"
#endif

LICENSE_FLAGS_WHITELIST += "commercial"

# option determines how many tasks bitbake should run in parallel:
#
#BB_NUMBER_THREADS = "4"
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
# The second option controls how many processes make should run in parallel when
# running compile tasks:
#
#PARALLEL_MAKE ?= "-j 4"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

IMAGE_FSTYPES = "wic"
